* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-personalizado {
    background-color: #000000;
}

.bg-personalizadodos {
    background-color: #000000;
}

.bg-personalizadotres {
    background-color: #222020;
}

.bg-personalizadocuatro {
    background-color: burlywood;
}

.bg-inst1 {
    background-color: #072466;
}

.bg-inst2 {
    background-color: #174FA4;
}

.bg-inst3 {
    background-color: #283c57;
}

.bg-tres, .bg-dos, .bg-uno {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    padding: 5px;
}

.bg-uno {
    display: flex;
    justify-content: center;
}

.bg-dark {
    background-color: #181818 !important;
}

.form-control:focus {
    border-color: #0e0e0e !important;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25) !important;
}

.error {
    color: rgb(223, 80, 80) !important;
}

.tooltip-inner {
    background-color: #181818;
    color: rgb(223, 80, 80);
}

.tooltip-arrow {
    display: none !important;
}

.select-auto-size {
    height: auto !important;
    max-height: 10rem !important;
}
  
.select-auto-size option {
    height: 1.5rem !important;
}
  